<div class="container">
    <div class="row">
        <div class="profile-menu col-md-3">
            <div class="sidebar-img">
                <label for="userAvatar" class="user-avatar">
                    <img src="assets/img/user_pic.jpg" class="img-circle image" >
                    <span>Click here to upload</span>
                </label>
                <h3 class="text-center" *ngIf="userProfile">{{userProfile.lastName}} {{userProfile.firstName}}</h3>
            </div>
                <div  class="sidebar-profile">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a routerLink="/account/{{id}}/profile/account">Account</a></li>
                    <li><a routerLink="/account/{{id}}/profile/password">Password</a></li>
                    <li><a routerLink="/account/{{id}}/profile/email">Email</a></li>
                </ul>
                    <form style="visibility: hidden">
                  <input type="file" id="userAvatar">
                </form>
            </div>
        </div>

        <div class="profile-info col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
