.profile-label{
    float: left;
}
.profile-input{
    width: 70%;
    padding-left: 20px;
    margin-left: 120px;
}
.profile-input-button{
    display: none;
}
.profile-input:hover .profile-input-button{
    display: block;
}
.icon-edit{
    margin-left: 0;
    margin-right: 0;
}
.profile-button-edit{
    height: 34px;
}