.trip-sights div.form-group {
    display: inline-block;
}

.trip-sights select.form-control {
    width: 196.5px;
}

.list-of-sights li {
    display: inline-block;
}

.list-of-sights i.fa-2x {
    font-size: 1em;
    margin: 1px;
}
.list-of-sights button {
    width: 35px;
    height: 25px;
    padding: 1px;
    margin-left: 320px;
}

.list-of-sights {
    max-height: 200px;
    overflow-y: scroll;
}

.list-of-sights::-webkit-scrollbar{
  width: 2px;
}

.list-of-sights::-webkit-scrollbar-thumb {
  border: none;
  background-color: transparent;
  max-height: 5px;
}

.list-of-sights:hover::-webkit-scrollbar-thumb{
  border: none;
  background-color: blue;
  max-height: 20px;
}

.list-of-sights::-webkit-scrollbar-track{
  border: none;
  background-color: transparent;
}
