

  <div class="modal-body" style="height: 90%;display: inline-flex;width: 100%;">
   <div style="background-color: plum; width: 25%;">
    <h3>Sights</h3>
    <div class="list-of-sights">
      <ul *ngFor="let p of places">
        <li>{{p.country}}, {{p.state}}, {{p.city}} - {{p.sight}}
          <button class="btn btn-primary pull-right"><i class="fa fa-2x fa-remove"></i></button>
        </li>
      </ul>
    </div>
   </div>
    <div class="map" style="background-color: #5993cd;width: 75%;">Map</div>
  </div>
