<div class="container-fluid">
    <form class="form-horizontal" #f="ngForm" novalidate>
        <div class="form-group">
            <h4 class=" profile-label">Current password</h4>
            <div class="profile-input">
                <input type="password" style="float: left; width: 140px; margin-right: 10px" maxlength="10" required
                       class="form-control" name="oldPassword">
                <button type="button" style="float: left" class="btn btn-primary">Forgot password</button>
            </div>
        </div>

        <div class="form-group">
            <h4 class=" profile-label">New password</h4>
            <div class="profile-input">
                <input type="password" minlength="6" maxlength="10" required class="form-control" name="password"
                       validateEqual="confirmPassword"
                       reverse="true" [ngModel]="userPassword.password" #password="ngModel">
                <small [hidden]="password.valid ||  (password.pristine && !f.submitted)">
                    Password mismatch(at least six characters)
                </small>
            </div>
        </div>

        <div class="form-group">
            <h4 class=" profile-label">Confirm password</h4>
            <div class="profile-input">
                <input type="password" maxlength="10" required class="form-control" name="confirmPassword"
                       validateEqual="password" [ngModel]="userPassword.confirmPassword" #confirmPassword="ngModel">
                <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)">
                    Password is required
                </small>
            </div>
        </div>

        <div class="form-group" style="padding-top: 10px">
            <button type="button" class="btn btn-primary">Update password</button>
        </div>
    </form>
</div>