.trippanel{
    top: 0;
    left: 150px;
    width:700px;
    height: 800px;
    position: fixed;
    margin-top: 120px;
    margin-left: 80px;
}

.panel {
    height: 420px;
    margin-left: 30px;
}

.trippanel button {
    margin-top: 10px;
    width: 170px;
}

.modal-sm {
    width: 170px;
    margin: 100px 400px auto auto;
    float: right;
}

.btn-group-vertical>.btn {
    position: relative;
    background: transparent;
    width: 170px;
}

.trippanel i.fa-close {
    font-size: 1em;
    margin: 0 0 0 70px;
}
