<div class="container-fluid">
        <button class="btn btn-primary pull-right" (click)="staticModal.show()">
          New event
          <span class="caret"></span>
        </button>
      <div class="newEvent">
        <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: false}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabl" aria-hidden="true" >

          <div class="model-dialog modal-sm">
            <div class="modal-content">
            <div class="btn-group-vertical">
              <button class="btn" (click)="showDialog = !showDialog; staticModal.hide()" routerLink="/account/{{accountId}}/trips/trip-planning/{{tripPlanId}}/day/{{id}}/transport" data-toggle="modal">
                Transport</button>
              <button class="btn" (click)="showDialog = !showDialog; staticModal.hide()" routerLink="/account/{{accountId}}/trips/trip-planning/{{tripPlanId}}/day/{{id}}/lodging" data-toggle="modal">
                Lodging</button>
              <button class="btn" (click)="showDialog = !showDialog; staticModal.hide()" routerLink="/account/{{accountId}}/trips/trip-planning/{{tripPlanId}}/day/{{id}}/sights" data-toggle="modal">
                Sights</button>
            </div>
            </div>
          </div>
        </div>
      </div>


        <!--Dialog-->

    <app-dialog [(visible)]="showDialog">
      <div class="modal-content">
      <router-outlet></router-outlet>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="showDialog = !showDialog; backClick()">Close</button>
        <button type="button" class="btn btn-primary" (click)="showDialog = !showDialog; backClick()">Submit</button>
      </div>
      </div>
    </app-dialog>



  </div>
