.trippanel{
    top: 0;
    left: 150px;
    width:700px;
    height: 800px;
    position: fixed;
    margin-top: 120px;
    margin-left: 80px;
}

.panel {
}

.trippanel button {
    margin-top: 10px;
    width: 170px;
}

.modal-sm {
    width: 170px;
    margin: 100px 400px auto auto;
    float: right;
}

.btn-group-vertical>.btn {
    position: relative;
    background: transparent;
    width: 170px;
}

.trippanel i.fa-close {
    font-size: 1em;
    margin: 0 0 0 70px;
}
.activities{
    margin-top: 20px;
}
.btn-action{
    padding-left: 0px;
    padding-right: 0px;
    width: 40px;
    visibility: hidden;
}
.panel:hover .btn-action{
    visibility: visible;
}

.activities::-webkit-scrollbar{
  width: 2px;
}

.activities::-webkit-scrollbar-thumb {
  border: none;
  background-color: transparent;
  max-height: 5px;
}

.activities:hover::-webkit-scrollbar-thumb{
  border: none;
  background-color: transparent;
  max-height: 20px;
}

.activities::-webkit-scrollbar-track{
  border: none;
  background-color: transparent;
}
