<div class="container-fluid">
  <form class="form-horizontal" *ngIf="userProfile">
    <div class="form-group">
      <h4 class=" profile-label">Lastname</h4>
      <div class="input-group profile-input">
        <input type="text" maxlength="20" disabled required class="form-control" name="lastName"
               [(ngModel)]="userProfile.lastName">
        <div class="input-group-btn profile-input-button">
          <button class="btn btn-default profile-button-edit" type="button"
                  onclick="this.form.lastName.disabled = 0"><i class="fa fa-pencil fa-lg icon-edit"
                                                               aria-hidden="true"></i></button>
        </div>
      </div><!-- /input-group -->
    </div>
    <div class="form-group">
      <h4 class=" profile-label">Firstname</h4>
      <div class="input-group profile-input">
        <input type="text" maxlength="20" disabled required class="form-control" name="firstName"
               [(ngModel)]="userProfile.firstName">
        <div class="input-group-btn profile-input-button">
          <button class="btn btn-default profile-button-edit" type="button"
                  onclick="this.form.firstName.disabled = 0"><i class="fa fa-pencil fa-lg icon-edit"
                                                                aria-hidden="true"></i></button>
        </div>
      </div><!-- /input-group -->
    </div>
    <div class="form-group">
      <h4 class=" profile-label">Day of birth</h4>
      <div class="input-group profile-input">
        <input type="date" disabled required class="form-control" name="birthday"
               [(ngModel)]="userProfile.birthday">
        <div class="input-group-btn profile-input-button">
          <button class="btn btn-default profile-button-edit" type="button"
                  onclick="this.form.birthday.disabled = 0"><i class="fa fa-pencil fa-lg icon-edit"
                                                               aria-hidden="true"></i></button>
        </div>
      </div><!-- /input-group -->
    </div>
    <div class="form-group">
      <h4 class=" profile-label">Gender</h4>
      <div class="input-group profile-input">
        <select disabled required name="gender" class="form-control form-input">
          <option hidden>{{userProfile.gender.gender}}</option>
          <option>Male</option>
          <option>Female</option>
        </select>
        <div class="input-group-btn profile-input-button">
          <button class="btn btn-default profile-button-edit" type="button"
                  onclick="this.form.gender.disabled = 0"><i class="fa fa-pencil fa-lg icon-edit"
                                                             aria-hidden="true"></i></button>
        </div>
      </div><!-- /input-group -->
    </div>
    <div class="form-group">
      <h4 class=" profile-label">Country</h4>
      <div class="input-group profile-input">
        <input type="text" maxlength="20" disabled required class="form-control" name="country"
               [(ngModel)]="userProfile.city.state.country.name">
        <div class="input-group-btn profile-input-button">
          <button class="btn btn-default profile-button-edit" type="button"
                  onclick="this.form.country.disabled = 0"><i class="fa fa-pencil fa-lg icon-edit"
                                                                aria-hidden="true"></i></button>
        </div>
      </div><!-- /input-group -->
    </div>
    <div class="form-group">
      <h4 class=" profile-label">State</h4>
      <div class="input-group profile-input">
        <input type="text" maxlength="20" disabled required class="form-control" name="state"
               [(ngModel)]="userProfile.city.state.name">
        <div class="input-group-btn profile-input-button">
          <button class="btn btn-default profile-button-edit" type="button"
                  onclick="this.form.state.disabled = 0"><i class="fa fa-pencil fa-lg icon-edit"
                                                                aria-hidden="true"></i></button>
        </div>
      </div><!-- /input-group -->
    </div>
    <div class="form-group">
      <h4 class=" profile-label">City</h4>
      <div class="input-group profile-input">
        <input type="text" maxlength="20" disabled required class="form-control" name="city"
               [(ngModel)]="userProfile.city.name">
        <div class="input-group-btn profile-input-button">
          <button class="btn btn-default profile-button-edit" type="button"
                  onclick="this.form.city.disabled = 0"><i class="fa fa-pencil fa-lg icon-edit"
                                                                aria-hidden="true"></i></button>
        </div>
      </div><!-- /input-group -->
    </div>
    <div class="form-group">
      <h4 class=" profile-label">Info</h4>
      <div class="input-group profile-input">
                        <textarea disabled required class="form-control" rows="7" maxlength="150"
                                  style="width: 400px; resize: none" name="info" [(ngModel)]="userProfile.info">
                            </textarea>
        <div class="input-group-btn profile-input-button">
          <button class="btn btn-default profile-button-edit" type="button"
                  onclick="this.form.info.disabled = 0" style="height: 148.5px"><i
            class="fa fa-pencil fa-lg icon-edit" aria-hidden="true"></i></button>
        </div>
      </div><!-- /input-group -->
    </div>
    <div class="form-group" style="padding-top: 10px">
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  </form>
</div>
