
  <div class="modal-header">
    <h4> Lodging</h4>
  </div>
  <div class="modal-body">
    <div class="trip-lodging">

      <div class="address">
        <div class="form-group">
          <label>Hotel</label>
          <input class="form-control" name="hotel" placeholder="Hotel"/>
        </div>
        <div class="form-group hotel-address">
          <label>Address</label>
          <input class="form-control" name="address" placeholder="Address"/>
        </div>
      </div>
      <div class="from-to">
        <div class="form-group from">
          <label>Check-in Time</label>
          <input class="form-control" name="checkin-time-date" placeholder="2017-05-29T10:25:OOZ"/>
        </div>
        <div class="form-group to">
          <label>Check-out Time</label>
          <input class="form-control" name="checkout-time-date" placeholder="2017-05-29T10:25:OOZ"/>
        </div>
      </div>



      <div class="price-dist">
        <div class="form-group">
          <label>Price</label>
          <input class="form-control" name="price" placeholder="5200"/>
        </div>
      </div>
    </div>
  </div>
