.container{
    background-color: white;
    margin-top: 80px;
    padding-bottom: 15px;
    width: 90%;
    margin-bottom: 20px;
    z-index: 10;
    border-radius: 0.5rem;
    height: 100%;
}
.profile-menu{
    padding-top: 40px;
    padding-left: 40px;
}
.profile-info{
    margin-top: 40px;
    padding-right: 40px;
}
.sidebar-profile{
   width: 200px;
    padding-top: 20px;
}
.sidebar-img{
    width: 200px;
}
.image{
    width: 140px;
    height:140px;
    background-color: grey;
    margin-left: 15%
}


