
<div class="trip-rail">
  <div class="from-to">
    <div class="form-group from">
      <label>From</label>
      <input class="form-control" name="from" placeholder="Russia"/>
      <label>Station</label>
      <input class="form-control" name="from-station" placeholder="00:00"/>
      <label>Departure Time</label>
      <input class="form-control" name="departure-time-date" placeholder="2017-05-29T10:25:OOZ"/>
    </div>
    <div class="form-group to">
      <label>To</label>
      <input class="form-control" name="to" placeholder="Italy"/>
      <label>Station</label>
      <input class="form-control" name="to-station" placeholder="00:00"/>
      <label>Arrival Time</label>
      <input class="form-control" name="arrival-time-date" placeholder="2017-05-29T10:25:OOZ"/>
    </div>
  </div>

  <div class="price-dist">
    <div class="form-group">
      <label>Price</label>
      <input class="form-control" name="price" placeholder="5200"/>
    </div>
    <div class="form-group">
      <label>Distance</label>
      <input class="form-control" name="distance" placeholder="451"/>
    </div>
  </div>
  <div class="rail-info">
    <textarea class="form-control" style="width: 400px; resize: none" name="info"></textarea>
  </div>


</div>
