<div class="container" >
    <div class="row">

        <div class="planning col-md-3">
            <div class="sidebar-img">
                <label for="tripAvatar" class="trip-avatar trip-avatar">
                    <img src="assets/img/trips/2.jpg" class="img-circle image">
                    <span>Click here to upload</span>
                </label>
            </div>

            <div class="sidebar-planning">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                        <a routerLink="/trip-planning/{{id}}/trip-info">Trip info
                        <i class="fa fa-caret-right" style="float: right"></i></a>
                    </li>

                    <li *ngFor="let day of days; let index = i">
                        <a routerLink="/trip-planning/{{id}}/day/{{day.id}}">
                            {{day.name | date:"dd.MM.yyyy"}}
                            <i class="fa fa-caret-right" style="float: right"></i>
                        </a>
                    </li>

                </ul>
            </div>

            <div>
                <button class="btn btn-primary day" (click)="addDay()" style="width: 198px;">
                    Add day
                </button>
            </div>
            <form style="visibility: hidden">
                <input type="file" id="tripAvatar">
            </form>
        </div>

        <div class="planning-info col-md-6 col-xs-9">
            <router-outlet></router-outlet>
        </div>

        <div class="col-md-3 col-xs-12">
            <app-chat></app-chat>
        </div>
    </div>
</div>
