
<div class="trip-flights">
  <div class="from-to">
    <div class="form-group from">
      <label>From</label>
      <input class="form-control" name="from" placeholder="Russia"/>
      <label>Airport</label>
      <input class="form-control" name="from-airport" placeholder="00:00"/>
      <label>Departure Time</label>
      <input class="form-control" name="departure-time-date" placeholder="2017-05-29T10:25:OOZ"/>
    </div>
    <div class="form-group to">
      <label>To</label>
      <input class="form-control" name="to" placeholder="Italy"/>
      <label>Airport</label>
      <input class="form-control" name="to-airport" placeholder="00:00"/>
      <label>Arrival Time</label>
      <input class="form-control" name="arrival-time-date" placeholder="2017-05-29T10:25:OOZ"/>
    </div>
  </div>

  <div class="airport">
    <div class="form-group">
      <label>Airline</label>
      <input class="form-control" name="airline" placeholder="airline"/>
    </div>
    <div class="form-group">
      <label>Flight Number</label>
      <input class="form-control" name="flight-number" placeholder="number"/>
    </div>
  </div>

  <div class="price-dist">
    <div class="form-group">
      <label>Price</label>
      <input class="form-control" name="price" placeholder="5200"/>
    </div>
    <div class="form-group">
      <label>Distance</label>
      <input class="form-control" name="distance" placeholder="451"/>
    </div>
  </div>
</div>