<div class="container">
    <div class="row">
            <div class="profile-menu col-md-3">
                <div class="sidebar-img">
                    <label  class="user-avatar">
                        <img src="assets/img/trips/2.jpg" class="img-circle image" >

                    </label>
                    <h3 class="text-center" *ngIf="user">{{user?.lastName}} {{user?.firstName}}</h3>
                </div>
                <div class="sidebar-profile">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a routerLink="/user/{{id}}/user-account">Account</a></li>
                        <li><a routerLink="/user/{{id}}/user-trips">Trips</a></li>
                        <li><a routerLink="/user/{{id}}/user-albums">Albums</a></li>
                    </ul>
                </div>
            </div>

            <div class="profile-info col-md-9">
                <router-outlet></router-outlet>
            </div>
    </div>
</div>
