
<div class="chat">
    <header style="color: blue; text-align: center; font-size: x-large; padding: 10px">Discussion</header>
  <div class="msg-body">
    <ul #list class="list" [scrollTop]="list.scrollHeight">
      <li *ngFor="let msg of messages" style="list-style-type: none"><br>{{msg.text}}<br></li>
    </ul>
  </div>
        <input type="text" class="form-control" [(ngModel)]="message.body"  (keyup.enter)="sendMessage()" placeholder="Type message..." style="box-shadow: #00b3ee" />
</div>

