<div class="container">
    <div class="chat">
        <header style="color: blue; text-align: center; font-size: x-large; padding: 10px">Discussion</header>
        <div class="msg-body">
            <ul #list class="list" [scrollTop]="list.scrollHeight">
                <li *ngFor="let message of messages" style="list-style-type: none">{{message.text}}<br>{{date |
                    amTimeAgo}}
                </li>
            </ul>
        </div>
        <input type="text" class="form-control" [(ngModel)]="message" (keyup.enter)="sendMessage()"
               placeholder="Type message..." style="box-shadow: #00b3ee"/>
    </div>
</div>
