<div class="container">
    <div class="chat">
        <header style="color: blue; text-align: center; font-size: x-large; padding: 10px">Discussion</header>
        <div class="msg-body">
            <ul #list class="list" [scrollTop]="list.scrollHeight">
                <li id="sender" *ngFor="let message of messages" style="list-style-type: none">
                    <div>
                    {{message.sender.lastName}} {{message.sender.firstName}}<br>
                    {{message.body}}<br>
                    {{message.sendTime | amCalendar : referenceTime : formats }}<br />
                    </div>
                </li>
            </ul>
        </div>
        <input type="text" class="form-control" [(ngModel)]="msg" (keyup.enter)="sendMessage()"
               placeholder="Type message..." style="box-shadow: #00b3ee"/>
    </div>
</div>
